.account-page {
  padding: 30px 40px;
  font-family: Inter, sans-serif;
justify-content: center;
margin-left: 100px;

}



.account-card {

  padding: 30px 40px;
  max-width: 900px;
}


.profile-section {
  margin-bottom: 50px;
  margin-left: 100px;

}

.profile-actions {
  display: flex;
  gap: 12px;
  margin-top: 10px;

}

/* Form layout */
.form-row {
  display: flex;
  gap: 40px;
  margin-bottom: 25px;

}

.form-group {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-group.full-width {
  width: 100%;
  margin-bottom: 40px;
}

.form-label {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 8px;
}

input {
  height: 40px;
  border-radius: 6px;
  border: 1px solid #999;
  padding: 0 12px;
  font-size: 14px;
}

input:focus {
  outline: none;
  border-color: #9c4dff;
}

/* Helper text */
.helper-text {
  font-size: 12px;
  color: #777;
  margin-top: 6px;
}

/* Buttons */
.btn-primary {
  background: #8f4bff;
  color: #fff;
  border: none;
  border-radius: 6px;
  padding: 8px 20px;
  cursor: pointer;
  font-size: 17px;
}

.btn-outline {
  background: #f5f5f5;
  border: 1px solid #bbb;
  border-radius: 6px;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 17px;
}

.btn-outline:hover {
  background: #eee;
}

/* Footer buttons */
.form-actions {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
}
