.sidebar-container {
  width: 300px;
  height: 100vh;
  background-color: #d9d9d9;
  position: fixed;
  left: 0;
  top: 0;
  padding-top: 90px;
  padding-left: 24px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
  z-index: 1000;
}

.sidebar-menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
}


.menu-box {
  height: 48px;
  width: 85%;
  border-radius: 14px;
  display: flex;
  align-items: center;
  padding: 0 18px;
  cursor: pointer;
  transition: all 0.2s ease;
  text-decoration: none;
  background-color: transparent;
}


.menu-box:hover {
  background-color: #f5f5f5;
}


.menu-box.active {
  background: linear-gradient(90deg, #e5b6f5, #b279c5);
}


.menu-icon {
  width: 18px;
  height: 18px;
  margin-right: 14px;
  flex-shrink: 0;
}


.menu-text {
  font-size: 20px;
  font-weight: 400px;
  font-family: inter;
  color: #6b7280;
}


.menu-box.active .menu-text,
.menu-box.active .menu-icon {
  color: #ffffff;
}
.line{
    width:242px;
    height: 1px;
    border:3px;
    background-color: #00000080;
}