.task-card {
  width: 350px;
  background: #ececec;
  border-radius: 16px;
  padding: 16px 40px;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  /* margin-left: 70px; */
  margin-top: 30px;
  height: 170px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}



.task-title {
  font-size: 20px;
  font-weight: 500;
  font-style: medium;
  color: #1f1f1f;
  margin: 0;
  line-height: 1.4;
}


.task-priority {
  display: flex;
  width: 70px;
  height: 30px;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: 15px;
  font-weight: 500;
  padding: 4px 10px;
  font-style: medium;
  border-radius: 19px;
  margin-top: 19px;
 
  
}

.task-priority.low {
  background-color: #9af0a3;
  color: #1a7f37;
}

.task-priority.medium {
  background-color: #ffd58a;
  color: #9a6700;
}

.task-priority.high {
  background-color: #ff9b9b;
  color: #a80000;
}


.task-date {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 12px;
  color: #555;
  margin-top: 17px;
}

.calendar-icon {
  font-size: 14px;
}

.task-date-time {
  font-size: 11px;
  color: #777;
  margin-top: 4px;
}
.task-card-space{
  display: flex;
  justify-content: space-between;
  margin: 0px 15px;
  flex-wrap:wrap;
}