.project-navbar {
  height: 100px;
  background-color: #9747ff33;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 88px;
  font-family: Inter, sans-serif;
}

.project-navtitle {
  font-size: 40px;
  font-weight: 500;
  color: #000;
}

.project-search-box {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border-radius: 22px;
  height: 38px;
  padding: 0 14px;
  gap: 8px;
  width: 420px;
  max-width: 45vw;
  min-width: 260px;
}

.project-search-icon {
  font-size: 20px;
  color: #9ca3af;
}

.project-search-input {
  border: none;
  outline: none;
  font-size: 14px;
  background: transparent;
}
