.task-details-form {
  width: 520px;
  padding: 24px;
  background: transparent;
  font-family: "Inter", sans-serif;
  
}


.task-title-input {
  width: 100%;
  height: 55px;
  padding: 14px 18px;
  font-size: 16px;
  border-radius: 12px;
  border: 1px solid #e2d4fa;
  outline: none;
  margin-bottom: 40px;
}


.form-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 40px;
}

.form-group label {
  font-size: 25px;
  font-weight: 300;
}


.task-description {
  height: 110px;
  padding: 14px;
  border-radius: 12px;
  border: 1px solid #e2d4fa;
  resize: none;
  font-size: 14px;
  color: #666;
}


.deadline-priority {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}


.deadline-input {
  padding: 12px 14px;
  border-radius: 12px;
  border: 1px solid #e2d4fa;
  font-size: 14px;
  background: #fff;
  height: 50px;
  width:250px;
}


.priority-section {
  display: flex;
  align-items: center;
  gap: 8px;
}

.priority-label {
  font-size: 27px;
  
}

.priority-pill {
  padding: 6px 14px;
  border-radius: 20px;
  font-size: 13px;
  font-weight: 500;
}

.priority-pill.low {
  background-color: #a7f3d0;
  color: #065f46;
}
.form-group-last{
      display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 40px;
 

}
.form-group-last label{
      font-size: 25px;
  font-weight: 300;

}

.comment-icons{
    display: flex;
    gap: 30px;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    
}
.icons{
    border: none;
    background:none;
    cursor: pointer;
}
.attachments-icons{
padding-top: 12px;
}
.comment-box {
  height: 90px;
  padding: 12px;
  border-radius: 12px;
  border: 1px solid #e2d4fa;
  resize: none;
  font-size: 14px;
}

.comment-btn {
  width: 110px;
  margin-top: 10px;
  padding: 10px 0;
  border-radius: 10px;
  border: none;
  background: #8b5cf6;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
}

.comment-btn:hover {
  background: #7c3aed;
}
